<%- include('partials/header') %>
<div class=" container mt-5 ">
  <div class="card ">
    <div class="card-body ">
      <a class="btn btn-block btn-social btn-google form-control jumbotron centered" href="/secrets" role="button">

    <h1 class=" jumbotron centered"> Complete your Profile</h1>
      </a>

    </div>
    <div class="card-body ">
    <a class="btn btn-block btn-social btn-facebook form-control jumbotron centered" href="/submit" role="button">

  <h1 class=" jumbotron centered" >Update  your Patient Database</h1>
    </a>
  </div>
    </div>
</div>
<%- include('partials/footer') %>
